.header {
	background: #b3cccc;
	width:900px;
	height:120px;
	margin:0 auto;
}

.header h1 {
	text-align:right;
	margin-right:20px;
	font-family:verdana;
	width: 400px;
	background: black;
	color: #fff;
	float:right;
	padding: 10px;
	border-radius: 10px;
}

.header small{
	font-size:50%;
	border-bottom:1px solid #66000
}

.menu{
	width: 900px;
	height: 40px;
	margin: 0 auto;
	background: #5c5c8a;
	border-top: 1px solid #000;
	text-align: center;
}

.menu ul li{
	display: inline;
}

.menu ul li a{
	margin: 0px 20px;
	color: #66000;
	padding: 5px 5px;
	font-family: arial;
	text-decoration: none
}

.menu a:hover{
	background-color: #ddd;
	color: balck;
}

.content{
	width: 900px;
	height: 400px;
	margin: 0 auto;
	background: #999;

}

.subc{
	width: 290px;
	height: 300px;
	margin: 5px;
	background: #fff;
	float: left;

}